@{
    ViewBag.Title = "Hoàng Kim Oanh - Index";
}

<h2>Hoàng Kim Oanh - Index </h2>
<hr />
<h3>Hiển thị dữ liệu từ Action trong Controller</h3>
<h4>fullName: @ViewBag.fullName</h4>
<h4>Ngày sinh: @ViewData["Birthday"]</h4>
<h4>Di động: @TempData["Phone"]</h4>
