@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Chào mừng bạn đến với Đại học Nguyễn Trãi</h2>
    <p>Đại học Nguyễn Trãi là một trong những trường đại học hàng đầu tại Việt Nam...</p>
    <p>Liên hệ: 0327293429</p>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAXVBMVEVHcEwtMZIuMZIuMZIuMZIuMZIuMZIuMZIuMZIuMZIWNKAuMZLqHyTtHCQuMZLtHCTtHCTtHCTtHCTpHybtHCTqHibtHCTtHCTtHCTtHCTrHSXtHCTtHCTtHCTtHCQoC07VAAAAH3RSTlMAKll1hpumxlxEBP8WDBEzgECmIm4rYLHEmkyN/+7ZUD9hIgAAALlJREFUeAHdzVViwzAQRdGbmFkay0Kn+19ivwpThh3kDP497scFXZeLfnp4vj7y7TIMl5FP49BOLcwLauXbZswM1NOF2S78ImbfxAGXCbAHPzhvQ1zSAbRXwM+grAfEJWMkJ6C5ABiUBN0ph92lXWCtUEWXP1GBINEhrANqMbrjDWU2mfdiNkYUsuh2Z0aFkI+b44NYFOG0qF37XY4HCk2Nlm9HiY4fsjxEKcY5k0IwB//Mm815W7hHL5nhDCQl1kacAAAAAElFTkSuQmCC">
</div>
