@{
    ViewBag.Title = "Trang chủ";
}

<h2>Trang chủ</h2>
<hr />
<h3>@ViewBag.message</h3>

- Tạo View About.cshtml làm tương tự như view Index, code Razor gợi ý như
sau:
@{
    ViewBag.Title = "About";
}
<h2>Giới thiệu về ASP.NET MVC</h2>
<p>
    MVC không phải là một mô hình lập trình mới lạ gì, và thậm chí, nó
    còn ra đời từ rất sớm. Có thể nói ASP.NET MVC là mô hình lập trình web
    chiến lược của Microsoft. Do đó, đối với những ai yêu mến và đi theo
    .NET, phát triển ứng dụng web với ASP.NET MVC sẽ là một kỹ năng không
    thể thiếu được.
</p>